.lisuser-container {
    .title {
        margin-bottom: 20px;
    }

    .lisuser-content {
        .child {

            width: 570px;
            margin: 0 auto;
            height: 40px;
            border: 1px solid grey;
        }
    }
}